<footer>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://komenuka.herokuapp.com/" data-lang="ja" data-dnt="true">ツイート</a><br />
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div class="fb-like" data-href="http://komenuka.herokuapp.com/" data-send="false" data-width="450" data-show-faces="true"></div><br />
using <a href="http://ipafont.ipa.go.jp/">IPA Font</a>, <a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a>, <a href="http://jscolor.com/">jscolor</a>, jQuery, Masonry, <a href="http://www.createjs.com/#!/EaselJS">EaselJS</a> and <a href="https://www.heroku.com/">Heroku</a>.<br />
    <p>不具合、要望は<a href="https://github.com/aaharu/komenuka/issues">Issues</a>か、<a href="https://twitter.com/aaharu">@aaharu</a>までお願いします ｍ(_ _)ｍ</p>
    <small>&#169; aaharu</small>
</footer>
