<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>komenuka</title>
        <meta content="komenuka は、動的画像変換サービスです。" name="description" />
        <meta content="komenuka,コメント画像" name="keywords" />
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="twitter:card" content="photo" />
        <meta name="twitter:site" content="" />
        <meta name="twitter:creator" content="" />
        <meta name="twitter:title" content="komenuka" />
        <meta name="twitter:image:src" content="http://komenuka.herokuapp.com<%= image %>?1" />
        <meta name="twitter:domain" content="komenuka.herokuapp.com" />
        <meta name="twitter:app:name:iphone" content="" />
        <meta name="twitter:app:name:ipad" content="" />
        <meta name="twitter:app:name:googleplay" content="" />
        <meta name="twitter:app:url:iphone" content="" />
        <meta name="twitter:app:url:ipad" content="" />
        <meta name="twitter:app:url:googleplay" content="" />
        <meta name="twitter:app:id:iphone" content="" />
        <meta name="twitter:app:id:ipad" content="" />
        <meta name="twitter:app:id:googleplay" content="" />
    </head>
    <body></body>
</html>
