<!DOCTYPE html>
<meta charset="utf-8">
<title>komenuka</title>
<meta content="komenuka は、動的画像変換サービスです。" name="description">
<meta content="komenuka,コメント画像" name="keywords">
<meta name="twitter:card" content="photo">
<meta name="twitter:site" content="">
<meta name="twitter:creator" content="@aaharu">
<meta name="twitter:title" content="komenuka">
<meta name="twitter:image:src" content="http://komenuka.herokuapp.com<%= image %>?1">
<meta name="twitter:domain" content="komenuka.herokuapp.com">
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
