<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>image comment</title>
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <header>
            <h1>image comment</h1>
            hoge
        </header>
        <section>
            <h2>introduction</h2>
            hoge
        </section>
        <section>
            <h2>usage</h2>
            <pre>http://safe-earth-4215.herokuapp.com/%URL_encorded JSON%/%URL_encoded URL%</pre>
            sample <a href="http://safe-earth-4215.herokuapp.com/image/v1/%7B%22rectangle%22:%7B%22x1%22:545,%22y1%22:35,%22x2%22:660,%22y2%22:336%7D,%22tategaki%22:%7B%22x%22:560,%22y%22:46,%22text%22:%22%E5%92%B2%E3%81%95%E3%82%93%E3%81%8B%E3%82%8F%E3%81%84%E3%81%84%22,%22size%22:40%7D%7D/http%3A%2F%2Ftiqav.com%2F3tB.jpg">http://safe-earth-4215.herokuapp.co/image/v1/%7B%22rectangle%22:%7B%22x1%22:545,%22y1%22:35,%22x2%22:660,%22y2%22:336%7D,%22tategaki%22:%7B%22x%22:560,%22y%22:46,%22text%22:%22%E5%92%B2%E3%81%95%E3%82%93%E3%81%8B%E3%82%8F%E3%81%84%E3%81%84%22,%22size%22:40%7D%7D/http%3A%2F%2Ftiqav.com%2F3tB.jpg</a>
            <h3>JSON Format</h3>
            <pre>
{
    COMMAND : {
        ARGMENT1_KEY : ARGMENT1_VALUE,
        ...
    },
    ...
}
            </pre>
            rectangle
            <dl>
                <dt>x1</dt>
                <dd>hoge</dd>
                <dt>y1</dt>
                <dd>fuga</dd>
                <dt>x2</dt>
                <dd>hoge</dd>
                <dt>y2</dt>
                <dd>fuga</dd>
            </dl>
            annotate
            <dl>
                <dt>x</dt>
                <dd>fuga</dd>
            </dl>
            tategaki
            <dl>
                <dt>x</dt>
                <dd>fuga</dd>
            </dl>
        </section>
        <footer>
            <small>&#169; aaharu</small>
        </footer>
    </body>
</html>
