<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>simple image editor</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/sie.css" rel="stylesheet" />
        <meta name="author" content="aaharu">
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <header>
            <h1>simple image editor</h1>
            <p class="lead">editing a image by URL.</p>
        </header>
        <a href="/readme" id="readme">readme</a>
<% if images %>
        <div id="list">
<% images.each do |item| %>
            <a href="<%= item %>"><img src="<%= item %>" width="300" height="300" class="img-polaroid" /></a>
<% end %>
        </div>
<% end %>
        <footer>
            using <a href="http://ossipedia.ipa.go.jp/ipafont/index.html">IPAex Font (IPAex Gothic)</a>, <a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a> and <a href="https://www.heroku.com/">Heroku</a>.<br />
            <small>&#169; aaharu</small>
        </footer>
        <!--[if lt IE 9]>
            <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.min.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
            <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-2.0.0.min.js"></script>
        <!--<![endif]-->
        <script src="/js/jquery.stalactite.min.js"></script>
        <script type="text/javascript">
        $(function(){
            $("#list").stalactite({
                offset: 10
            });
        });
        </script>
    </body>
</html>