<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>komenuka</title>
        <meta content="komenuka は、動的画像変換サービスです。" name="description" />
        <meta name="author" content="aaharu" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/komenuka.css" rel="stylesheet" />
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <header>
            <h1>komenuka</h1>
            <p class="lead">URL for edited image.</p>
        </header>
        <form class="form-inline">
            <input id="imageUrlText" type="text" placeholder="Image URL" class="input-large" />
            <button id="imageUrlBtn" type="submit" class="btn">読み込む</button>
        </form>
        <div>
            <div>
                <button id="rectangleBtn">rectangle</button>
                <button id="annotateBtn">annotate</button>
                <button id="tategakiBtn">tategaki</button>
            </div>
            <canvas id="canvas" width="0" height="0"></canvas>
        </div>
        <textarea id="outjson"></textarea>
        <footer>
            using <a href="http://ossipedia.ipa.go.jp/ipafont/index.html">IPAex Font (IPAex Gothic)</a>, <a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a> and <a href="https://www.heroku.com/">Heroku</a>.<br />
            <small>&#169; aaharu</small>
        </footer>
        <!--[if lt IE 9]>
            <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.min.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
            <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-2.0.0.min.js"></script>
        <!--<![endif]-->
        <script src="http://code.createjs.com/easeljs-0.6.0.min.js"></script>
        <script type="text/javascript">
        $(function(){
            "use strict";
            var KomenukaCanvas = function KomenukaCanvas(stage){
                var shape, overlay, jsonObj;
                var $out = $("#outjson");
                
                return {
                    "init": function(width, height){
                        stage.canvas.width = width;
                        stage.canvas.height = height;
                        shape = new createjs.Shape();
                        overlay = new createjs.Shape();
                        overlay.alpha = 0.7;
                        stage.addChild(shape);
                        stage.addChild(overlay);
                        jsonObj = {};

                        return this;
                    },
                    "publishRectangleEvents": function(){
                        stage.removeAllEventListeners();
                        stage.addEventListener("mousedown", function(mouseDownEvent) {
                            var startX = mouseDownEvent.stageX,
                                startY = mouseDownEvent.stageY;
                            mouseDownEvent.addEventListener("mousemove", function(mouseMoveEvent) {
                                overlay.graphics.c().f("#ffffff").r(startX, startY, mouseMoveEvent.stageX - startX, mouseMoveEvent.stageY - startY).ef();
                                stage.update();
                            });
                            mouseDownEvent.addEventListener("mouseup", function(mouseUpEvent) {
                                overlay.graphics.c();
                                shape.graphics.f("#ffffff").r(startX, startY, mouseUpEvent.stageX - startX, mouseUpEvent.stageY - startY).ef();
                                stage.update();
                                //x1,x2の大小とか判断しないといけない気がする
                                jsonObj["rectangle"] = {
                                    "x1": startX,
                                    "y1": startY,
                                    "x2": mouseUpEvent.stageX - startX,
                                    "y2": mouseUpEvent.stageY - startY
                                };
                                $out.val(JSON.stringify(jsonObj));
                            });
                        });
                    },
                    "publishAnnotateEvents": function(){
                        stage.removeAllEventListeners();
                        stage.addEventListener("mousedown", function(mouseDownEvent) {
                            var text = new createjs.Text("Hello World", "30px Arial", "#000000");
                            text.x = mouseDownEvent.stageX;
                            text.y = mouseDownEvent.stageY;
                            stage.addChild(text);
                            stage.update();
                            
                            jsonObj["annotate"] = {
                                "x": mouseDownEvent.stageX,
                                "y": mouseDownEvent.stageY,
                                "text": text.text
                            };
                            $out.val(JSON.stringify(jsonObj));
                        });
                    },
                    "publishTategakiEvents": function(){
                        stage.removeAllEventListeners();
                        //TODO
                        stage.addEventListener("mousedown", function(mouseDownEvent) {
                            var text = new createjs.Text("Hello World", "30px Arial", "#000000");
                            text.x = mouseDownEvent.stageX;
                            text.y = mouseDownEvent.stageY;
                            text.rotation = 90;
                            stage.addChild(text);
                            stage.update();
                            
                            jsonObj["tategaki"] = {
                                "x": mouseDownEvent.stageX,
                                "y": mouseDownEvent.stageY,
                                "text": text.text
                            };
                            $out.val(JSON.stringify(jsonObj));
                        });
                    }
                };
            };

            $("#imageUrlBtn").click(function(){
                var url = $("#imageUrlText").val();
                if (url) {
                    var stage = new createjs.Stage("canvas"),
                        img = new Image(),
                        komenuka = new KomenukaCanvas(stage);
                    var bmp = new createjs.Bitmap(img);
                    img.crossOrigin = "Anonymous";
                    img.onload = function(){
                        stage.addChild(bmp);
                        komenuka.init(img.width, img.height);
                        stage.update();
                    }
                    img.src = "/proxy?url=" + encodeURI(url); // Access-Control-Allow-Originで許可されていればproxyいらない

                    $("#rectangleBtn").click(function(){
                        komenuka.publishRectangleEvents();
                    });
                    $("#annotateBtn").click(function(){
                        komenuka.publishAnnotateEvents();
                    });
                    $("#tategakiBtn").click(function(){
                        komenuka.publishTategakiEvents();
                    });
                } else {
                    alert("please input");
                }
                return false;
            });
        });
        </script>
    </body>
</html>