<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>komenuka</title>
        <meta content="komenuka,コメント画像" name="keywords" />
        <meta name="author" content="aaharu" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/komenuka.css?2" rel="stylesheet" />
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <header class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">komenuka</a>
                <ul class="nav">
                    <li><a href="/readme">readme</a></li>
                    <li class="active"><a href="#">editor</a></li>
                </ul>
            </div>
        </header>
        <main role="main">
            <h3>1. 編集する画像を読み込む</h3>
            <form class="form-inline">
                <input id="imageUrlText" type="text" placeholder="Image URL" class="input-large" />
                <button id="imageUrlBtn" type="submit" class="btn btn-primary">読み込む</button>
            </form>
            <h3>2. 画像を編集する</h3>
            <div class="row-fluid">
                <div class="span2">
                    <button id="undoBtn" class="btn" disabled="disabled">元に戻す</button>
                    <hr />
                    <button id="rectangleBtn" class="btn" disabled="disabled"><i class="icon-edit"></i>四角</button>
                    <hr />
                    <button id="annotateBtn" class="btn" disabled="disabled"><i class="icon-text-width"></i>横書き</button>
                    <button id="tategakiBtn" class="btn" disabled="disabled"><i class="icon-text-height"></i>縦書き</button>
                    <hr />
                    <input id="colorPicker" class="color input-mini" />
                    <hr />
                    <div class="input-append">
                        <input id="textSize" class="input-mini" type="text" value="30" disabled="disabled" />
                        <span class="add-on">px</span>
                    </div>
                    <textarea id="drawText" class="span12" placeholder="描画テキスト" disabled="disabled"></textarea>
                </div>
                <div class="span10">
                    <canvas id="canvas" width="0" height="0"></canvas>
                </div>
            </div>
            <h3>3. 編集後の画像URLの画像を確認する</h3>
            <textarea id="outjson" class="input-xxlarge" placeholder="Output JSON"></textarea><br />
            <form class="form-inline">
                <input id="komenukaUrlText" type="text" class="input-xxlarge" placeholder="Output URL" />
                <button id="chkBtn" type="submit" class="btn">check</button>
            </form>
            <dl>
                <dt>編集後画像</dt>
                <dd><img id="komenukaImg" src="http://placehold.jp/150x50.png" /></dd>
            </dl>
        </main>
        <footer>
            using <a href="http://ossipedia.ipa.go.jp/ipafont/index.html">IPAex Font (IPAex Gothic)</a>, <a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a>, <a href="http://jscolor.com/">jscolor</a>, <a href="http://jonobr1.github.io/stalactite/">stalactite</a>, <a href="http://www.createjs.com/#!/EaselJS">EaselJS</a> and <a href="https://www.heroku.com/">Heroku</a>.<br />
            <small>&#169; aaharu</small>
        </footer>
        <!--[if lt IE 9]>
            <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.min.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
            <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-2.0.0.min.js"></script>
        <!--<![endif]-->
        <script src="/js/jscolor/jscolor.js"></script>
        <script src="http://code.createjs.com/easeljs-0.6.0.min.js"></script>
        <script src="/js/TextEx.js?1"></script>
        <script type="text/javascript">
        $(function() {
            "use strict";
            var KomenukaCanvas = function KomenukaCanvas(stage) {
                var shape, overlay, jsonObj;
                var jsonObjHistory = [];
                var $out = $("#outjson"), $outUrl = $("#komenukaUrlText"), $color = $("#colorPicker");

                function updateJson(obj) {
                    var url = $("#imageUrlText").val();
                    //Objectの結合
                    for (var k in obj) {
                        if (jsonObj[k] === undefined) {
                            jsonObj[k] = obj[k];
                        } else if (jsonObj[k] instanceof Array) {
                            jsonObj[k][(jsonObj[k]).length] = obj[k];
                        } else {
                            jsonObj[k] = [jsonObj[k], obj[k]];
                        }
                    }
                    //add history
                    jsonObjHistory[jsonObjHistory.length] = $.extend(true, {}, jsonObj);
                    //HTMLの更新
                    $out.val(JSON.stringify(jsonObj));
                    if ((new RegExp("^http://", "i")).test(url)) {
                        url = url.substring(7);
                    }
                    $outUrl.val("http://komenuka.herokuapp.com/image/v1/" + encodeURIComponent(JSON.stringify(jsonObj)) + "/" + encodeURIComponent(url));
                }

                function drawFromJson(json) {
                    for (var command in json) {
                        if (json[command].length) {
                            var args = json[command];
                        } else {
                            var args = [json[command]];
                        }
                        switch (command) {
                            case "rectangle":
                            for (var i = 0, l = args.length; i < l; ++i) {
                                var color = args[i]["color"] ? "#" + args[i]["color"] : "#fff";
                                var x1 = args[i]["x1"] ? args[i]["x1"] : 0;
                                var x2 = args[i]["x2"] ? args[i]["x2"] : 0;
                                var y1 = args[i]["y1"] ? args[i]["y1"] : 0;
                                var y2 = args[i]["y2"] ? args[i]["y2"] : 0;
                                shape.graphics.f(color).r(x1, y1, x2 - x1, y2 - y1).ef();
                                stage.update();
                            }
                            break;
                            case "annotate":
                            for (var i = 0, l = args.length; i < l; ++i) {
                                var t = args[i]["text"] ? args[i]["text"] : "";
                                var x = args[i]["x"] ? args[i]["x"] : 0;
                                var y = args[i]["y"] ? args[i]["y"] : 0;
                                var size = args[i]["size"] ? args[i]["size"] : "30";
                                var text = new createjs.Text(t, size + "px Arial", "#000");
                                text.x = x;
                                text.y = y;
                                stage.addChild(text);
                                stage.update();
                            }
                            break;
                            case "tategaki":
                            for (var i = 0, l = args.length; i < l; ++i) {
                                var t = args[i]["text"] ? args[i]["text"] : "";
                                var x = args[i]["x"] ? args[i]["x"] : 0;
                                var y = args[i]["y"] ? args[i]["y"] : 0;
                                var size = args[i]["size"] ? args[i]["size"] : "30";
                                var text = new createjs.TextEx(t, size + "px Arial", "#000");
                                text.x = x;
                                text.y = y;
                                text.direction = "vertical";
                                text.textAlign = "center";
                                stage.addChild(text);
                                stage.update();
                            }
                            break;
                        }
                    }
                }

                return {
                    "init": function(bmp) {
                        stage.removeAllEventListeners();
                        stage.canvas.width = bmp.image.width;
                        stage.canvas.height = bmp.image.height;
                        shape = new createjs.Shape();
                        overlay = new createjs.Shape();
                        overlay.alpha = 0.7;
                        stage.addChild(bmp);
                        stage.addChild(shape);
                        stage.addChild(overlay);
                        stage.update();
                        jsonObj = {};
                        return this;
                    },
                    "publishRectangleEvents": function() {
                        stage.removeAllEventListeners();
                        stage.addEventListener("mousedown", function(mouseDownEvent) {
                            var startX = mouseDownEvent.stageX, startY = mouseDownEvent.stageY;
                            mouseDownEvent.addEventListener("mousemove", function(mouseMoveEvent) {
                                overlay.graphics.c().f("#" + $color.val()).r(startX, startY, mouseMoveEvent.stageX - startX, mouseMoveEvent.stageY - startY).ef();
                                stage.update();
                            });
                            mouseDownEvent.addEventListener("mouseup", function(mouseUpEvent) {
                                overlay.graphics.c();
                                shape.graphics.f("#" + $color.val()).r(startX, startY, mouseUpEvent.stageX - startX, mouseUpEvent.stageY - startY).ef();
                                stage.update();
                                // update rectangle json
                                if (startX < mouseUpEvent.stageX) {
                                    var x1 = startX, x2 = mouseUpEvent.stageX;
                                } else {
                                    var x1 = mouseUpEvent.stageX, x2 = startX;
                                }
                                if (startY < mouseUpEvent.stageY) {
                                    var y1 = startY, y2 = mouseUpEvent.stageY;
                                } else {
                                    var y1 = mouseUpEvent.stageY, y2 = startY;   
                                }
                                var obj = {};
                                if (x1 !== 0) {
                                    obj["x1"] = x1;
                                }
                                if (x2 !== 0) {
                                    obj["x2"] = x2;
                                }
                                if (y1 !== 0) {
                                    obj["y1"] = y1;
                                }
                                if (y2 !== 0) {
                                    obj["y2"] = y2;
                                }
                                if (!$color.val() || $color.val() !== "FFFFFF") {
                                    obj["color"] = "#" + $color.val();
                                }
                                updateJson({"rectangle": obj});
                            });
                        });
                    },
                    "publishAnnotateEvents": function(jqStr, jqSize) {
                        stage.removeAllEventListeners();
                        stage.addEventListener("mousedown", function(mouseDownEvent) {
                            if (jqStr.val()) {
                                var size = jqSize.val();
                                var text = new createjs.Text(jqStr.val(), size + "px Arial", "#000");
                                text.x = mouseDownEvent.stageX;
                                text.y = mouseDownEvent.stageY;
                                text.alpha = 0.6;
                                stage.addChild(text);
                                stage.update();
                                mouseDownEvent.addEventListener("mousemove", function(mouseMoveEvent) {
                                    text.x = mouseMoveEvent.stageX;
                                    text.y = mouseMoveEvent.stageY;
                                    stage.update();
                                });
                                mouseDownEvent.addEventListener("mouseup", function(mouseUpEvent) {
                                    text.alpha = 1;
                                    stage.update();
                                    // update annotate json
                                    var obj = {"text": text.text};
                                    if (mouseUpEvent.stageX !== 0) {
                                        obj["x"] = mouseUpEvent.stageX;
                                    }
                                    if (mouseUpEvent.stageY !== 0) {
                                        obj["y"] = mouseUpEvent.stageY;
                                    }
                                    if (size !== "30") {
                                        obj["size"] = size;
                                    }
                                    updateJson({"annotate": obj});
                                });
                            }
                        });
                    },
                    "publishTategakiEvents": function(jqStr, jqSize) {
                        stage.removeAllEventListeners();
                        stage.addEventListener("mousedown", function(mouseDownEvent) {
                            if (jqStr.val()) {
                                var size = jqSize.val();
                                var text = new createjs.TextEx(jqStr.val(), size + "px Arial", "#000");
                                text.x = mouseDownEvent.stageX;
                                text.y = mouseDownEvent.stageY;
                                text.alpha = 0.6;
                                text.direction = "vertical";
                                text.textAlign = "center";
                                stage.addChild(text);
                                stage.update();
                                mouseDownEvent.addEventListener("mousemove", function(mouseMoveEvent) {
                                    text.x = mouseMoveEvent.stageX;
                                    text.y = mouseMoveEvent.stageY;
                                    stage.update();
                                });
                                mouseDownEvent.addEventListener("mouseup", function(mouseUpEvent) {
                                    text.alpha = 1;
                                    stage.update();
                                    // update tategaki json
                                    var obj = {"text": text.text};
                                    if (mouseUpEvent.stageX !== 0) {
                                        obj["x"] = mouseUpEvent.stageX;
                                    }
                                    if (mouseUpEvent.stageY !== 0) {
                                        obj["y"] = mouseUpEvent.stageY;
                                    }
                                    if (size !== "30") {
                                        obj["size"] = size;
                                    }
                                    updateJson({"tategaki": obj});
                                });
                            }
                        });
                    },
                    "undo": function() {
                        if (jsonObjHistory.length > 0) {
                            jsonObjHistory.pop();
                            drawFromJson(jsonObjHistory[jsonObjHistory.length - 1]);
                        }
                    }
                };
            };

            var $outjson = $("#outjson"),
                $rectangleBtn = $("#rectangleBtn"),
                $annotateBtn = $("#annotateBtn"),
                $tategakiBtn = $("#tategakiBtn"),
                $undoBtn = $("#undoBtn"),
                $colorPicker = $("#colorPicker"),
                $drawText = $("#drawText"),
                $textSize = $("#textSize");

            $outjson.change(function() {
                var url = $("#imageUrlText").val();
                //if ((new RegExp("^http://([^/]+¥.)?tiqav¥.com.*$", "i")).test(url)) {
                //    $("#komenukaUrlText").val("http://komenuka.herokuapp.com/tiqav/v1/" + encodeURIComponent(JSON.stringify($("#outjson").val())) + "/" + ;
                //} else {
                    if ((new RegExp("^http://", "i")).test(url)) {
                        url = url.substring(7);
                    }
                    $("#komenukaUrlText").val("http://komenuka.herokuapp.com/image/v1/" + encodeURIComponent(JSON.stringify($("#outjson").val())) + "/" + encodeURIComponent(url));
                //}
            });

            var komenuka = new KomenukaCanvas(new createjs.Stage("canvas"));

            $("#imageUrlBtn").click(function() {
                $rectangleBtn.attr({"disabled": "disabled"});
                $annotateBtn.attr({"disabled": "disabled"});
                $tategakiBtn.attr({"disabled": "disabled"});
                $undoBtn.attr({"disabled": "disabled"});
                $drawText.attr({"disabled": "disabled"});
                $textSize.attr({"disabled": "disabled"});

                var url = $("#imageUrlText").val();
                if (url) {
                    var img = new Image();
                    img.crossOrigin = "Anonymous";
                    img.onload = function() {
                        komenuka.init(new createjs.Bitmap(img));
                        $outjson.val("");
                        $rectangleBtn.removeAttr("disabled");
                        $annotateBtn.removeAttr("disabled");
                        $tategakiBtn.removeAttr("disabled");
                        $undoBtn.removeAttr("disabled");
                    }
                    img.src = "/proxy?url=" + encodeURI(url); // Access-Control-Allow-Originで許可されていればproxyいらない

                    $rectangleBtn.click(function() {
                        $colorPicker.val("FFFFFF");
                        $colorPicker.css({"background-color": "#fff", "color": "#000"});
                        $drawText.attr({"disabled": "disabled"});
                        $textSize.attr({"disabled": "disabled"});
                        komenuka.publishRectangleEvents();
                    });
                    $annotateBtn.click(function() {
                        $colorPicker.val("000000");
                        $colorPicker.css({"background-color": "#000", "color": "#fff"});
                        $drawText.removeAttr("disabled");
                        $textSize.removeAttr("disabled");
                        komenuka.publishAnnotateEvents($drawText, $textSize);
                    });
                    $tategakiBtn.click(function() {
                        $colorPicker.val("000000");
                        $colorPicker.css({"background-color": "#000", "color": "#fff"});
                        $drawText.removeAttr("disabled");
                        $textSize.removeAttr("disabled");
                        komenuka.publishTategakiEvents($drawText, $textSize);
                    });
                    $undoBtn.click(function() {
                        komenuka.init(new createjs.Bitmap(img));
                        komenuka.undo();
                    });
                } else {
                    alert("please input");
                }
                return false;
            });

            $("#chkBtn").click(function() {
                document.getElementById("komenukaImg").src = $("#komenukaUrlText").val();
                return false;
            });
        });
        </script>
        <script type="text/javascript">(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-40683203-1', 'herokuapp.com');ga('send', 'pageview');</script>
    </body>
</html>