<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>komenuka</title>
        <meta content="komenukaの使い方" name="description" />
        <meta content="komenuka,コメント画像" name="keywords" />
        <meta name="author" content="aaharu" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/komenuka.css?4" rel="stylesheet" />
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
        <header class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">komenuka</a>
                <ul class="nav">
                    <li class="active"><a href="/readme">readme</a></li>
                    <li><a href="/make">editor</a></li>
                </ul>
            </div>
        </header>
        <main role="main">
            <section>
                <h2>introduction</h2>
                <p>Web上にある画像を編集して、画像を返します。<br />URLにコマンドを記入するだけでコメント付きの画像を生成することが可能です。</p>
                <h3>example</h3>
                <ul class="thumbnails">
                    <li class="span5">
                        <div class="thumbnail">
                            <div class="caption text-center">
                                <h4>before</h4>
                            </div>
                            <img src="http://img.tiqav.com/3tB.jpg" width="80%" alt="お前…死にたいのか？" />
                            <div class="caption text-center">
                                <pre>&lt;img src="http://img.tiqav.com/3tB.jpg"&gt;</pre>
                            </div>
                        </div>
                    </li>
                    <li class="span5">
                        <div class="thumbnail">
                            <div class="caption text-center">
                                <h4>after</h4>
                            </div>
                            <img src="/image/v1/%7B%22rectangle%22:%7B%22x1%22:545,%22y1%22:35,%22x2%22:660,%22y2%22:336%7D,%22tategaki%22:%7B%22x%22:598,%22y%22:32,%22text%22:%22%E5%92%B2%E3%81%95%E3%82%93%E3%81%8B%E3%82%8F%E3%81%84%E3%81%84%22,%22size%22:43%7D%7D/http%3A%2F%2Fimg.tiqav.com%2F3tB.jpg" width="80%" alt="咲さんかわいい" />
                            <div class="caption text-center">
                                <pre>&lt;img src="http://komenuka.herokuapp.com/image/v1/%7B%22rectangle%22:%7B%22x1%22:545,%22y1%22:35,%22x2%22:660,%22y2%22:336%7D,%22tategaki%22:%7B%22x%22:598,%22y%22:32,%22text%22:%22%E5%92%B2%E3%81%95%E3%82%93%E3%81%8B%E3%82%8F%E3%81%84%E3%81%84%22,%22size%22:43%7D%7D/http%3A%2F%2Fimg.tiqav.com%2F3tB.jpg"&gt;</pre>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section>
                <h2>usage</h2>
                <pre>http://komenuka.herokuapp.com/image/v1/<span>%URL-encorded JSON%</span>/<span>%URL-encoded URL%</span></pre>
                <p>以下のページで、編集及びURLの生成を行うことができます。<br /><a href="/make">Editor</a></p>
                <h3>JSON Format</h3>
                <pre>
{
    COMMAND1 : {
        ARGMENT1_KEY : ARGMENT1_VALUE,
        ARGMENT2_KEY : ARGMENT2_VALUE,
        ...
    },
    COMMAND2 : {
        ARGMENT1_KEY : ARGMENT1_VALUE,
        ...
    },
    ...
}
                </pre>
                <p class="text-warning">JSONに"/"の文字を使用することはできません。<br />URLエンコードはある程度ブラウザが勝手にやってくれるのでアドレスバーに直接入力で動作するはずです。</p>
                <h4>rectangle</h4>
                <p>塗りつぶしの四角形をかきます。</p>
                <dl>
                    <dt>x1</dt>
                    <dd>正方形の対角の点を点1、点2とした場合の、点1のX座標。デフォルト値:0</dd>
                    <dt>y1</dt>
                    <dd>点1のY座標。デフォルト値:0</dd>
                    <dt>x2</dt>
                    <dd>点2のX座標。デフォルト値:0</dd>
                    <dt>y2</dt>
                    <dd>点1のY座標。デフォルト値:0</dd>
                    <dt>color</dt>
                    <dd>塗りつぶしの色。デフォルト値:"#FFFFFF"</dd>
                </dl>
                <h4>annotate</h4>
                <p>横書き文字を挿入します。</p>
                <dl>
                    <dt>x</dt>
                    <dd>始点のX座標。デフォルト値:0</dd>
                    <dt>y</dt>
                    <dd>始点のY座標。デフォルト値:0</dd>
                    <dt>size</dt>
                    <dd>文字の大きさ。デフォルト値:30</dd>
                    <dt>color</dt>
                    <dd>文字色。デフォルト値:"#000000"</dd>
                    <dt>font</dt>
                    <dd>フォントの種類。デフォルト値:"ipag"(IPAゴシック)</dd>
                    <dt>text</dt>
                    <dd>文字。</dd>
                </dl>
                <h4>tategaki</h4>
                <p>縦書き文字を挿入します。</p>
                <dl>
                    <dt>x</dt>
                    <dd>始点のX座標。デフォルト値:0</dd>
                    <dt>y</dt>
                    <dd>始点のY座標。デフォルト値:0</dd>
                    <dt>size</dt>
                    <dd>文字の大きさ。デフォルト値:30</dd>
                    <dt>color</dt>
                    <dd>文字色。デフォルト値:"#000000"</dd>
                    <dt>font</dt>
                    <dd>フォントの種類。デフォルト値:"ipag"(IPAゴシック)</dd>
                    <dt>text</dt>
                    <dd>文字。</dd>
                </dl>
            </section>
        </main>
<%= footer %>
        <script type="text/javascript">(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-40683203-1', 'herokuapp.com');ga('send', 'pageview');</script>
    </body>
</html>
