<section>
    <div class="row">
        <div class="col-md-3">
            <button id="undoBtn" class="btn" disabled="disabled">元に戻す</button>
            <hr />
            <button id="rectangleBtn" class="btn" disabled="disabled"><span class="glyphicon glyphicon-edit"></span> 四角</button><br />
            <input id="colorPicker-r" class="color col-xs-4" />
            <button id="spuitBtn" class="btn">スポイト</button>
            <hr />
            <button id="annotateBtn" class="btn" disabled="disabled"><span class="glyphicon glyphicon-text-width"></span> 横書き</button>
            <button id="tategakiBtn" class="btn" disabled="disabled"><span class="glyphicon glyphicon-text-height"></span> 縦書き</button><br />
            <input id="colorPicker-w" class="color col-xs-4" value="000000" />
            <div class="input-group input-group-sm">
                <input id="textSize" class="col-xs-4" type="text" value="30" disabled="disabled" />
                <span class="input-gourp-addon">px</span>
            </div>
            <textarea id="drawText" class="col-md-12" placeholder="描画テキスト" disabled="disabled"></textarea>
        </div>
        <div class="col-md-9">
            <canvas id="canvas" width="0" height="0"></canvas>
        </div>
    </div>

    <h3>Result</h3>
    <textarea id="outjson" class="input-lg" placeholder="Output JSON"></textarea><br />
    <form class="form-inline">
        <input id="komenukaUrlText" type="text" class="input-lg" placeholder="Output URL" />
        <button id="chkBtn" type="submit" class="btn">check</button>
    </form>
    <dl>
        <dt>編集後画像</dt>
        <dd><img id="komenukaImg" src="http://placehold.jp/150x50.png" /></dd>
    </dl>
</section>
