<section>
    <h3>編集する画像を読み込む</h3>
    <form class="input-group input-group-lg" ng-submit="inputUrl()">
        <input type="text" class="form-control" placeholder="Image URL" ng-model="url" />
        <span class="input-group-btn">
            <button class="btn btn-primary" type="buttn">読み込む</button>
        </span>
    </form>
</section>
